@import './tokens-cs-dark.css';
@import './tokens-cs-light.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  min-height: 100vh;
  color: var(--text-default);
  background: var(--background-background-default);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Figtree;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
