@import './tokens-cs-dark.css';
@import './tokens-cs-light.css';
@import './base.css';


#app {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* centra horizontalmente */
  height: 100vh;           /* ocupa toda la altura de la ventana */
  font-weight: normal;
}




